<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onRequestImageNotFound" fire="QUI\Cache\EventCoordinator::onRequestImageNotFound" priority="1000"/>
    <event on="onRequest" fire="\QUI\Cache\EventCoordinator::onRequest" priority="1000"/>
    <event on="onRequestOutput" fire="\QUI\Cache\EventCoordinator::onRequestOutput" priority="1000"/>
    <event on="onTemplateGetHeader" fire="\QUI\Cache\EventCoordinator::onTemplateGetHeader"/>
    <event on="onPackageConfigSave" fire="\QUI\Cache\EventCoordinator::onPackageConfigSave"/>
    <event on="onSmartyImageOnlySource" fire="\QUI\Cache\EventCoordinator::smartyImageOnlySource"/>
    <event on="onMailerSendInit" fire="\QUI\Cache\EventCoordinator::onMailerSendInit"/>
    <event on="onUserLogin" fire="\QUI\Cache\EventCoordinator::onUserLogin"/>
    <event on="onUserLogout" fire="\QUI\Cache\EventCoordinator::onUserLogout"/>
    <event on="onUpdateEnd" fire="\QUI\Cache\EventCoordinator::onUpdateEnd"/>
    <event on="onQuiqqerFrontendUsersUserAutoLogin"
           fire="\QUI\Cache\EventCoordinator::onQuiqqerFrontendUsersUserAutoLogin"/>

    <!-- clear cache -->
    <event on="onSiteSave" fire="\QUI\Cache\EventCoordinator::clearCache"/>
    <event on="onSiteDelete" fire="\QUI\Cache\EventCoordinator::clearCache"/>
    <event on="onSiteActivate" fire="\QUI\Cache\EventCoordinator::clearCache"/>
    <event on="onSiteDeactivate" fire="\QUI\Cache\EventCoordinator::clearCache"/>
    <event on="onQuiqqerBricksSave" fire="\QUI\Cache\EventCoordinator::clearCache"/>

    <event on="onMediaActivate" fire="\QUI\Cache\EventCoordinator::clearCache"/>
    <event on="onMediaDeactivate" fire="\QUI\Cache\EventCoordinator::clearCache"/>
    <event on="onMediaSave" fire="\QUI\Cache\EventCoordinator::clearCache"/>
    <event on="onMediaDelete" fire="\QUI\Cache\EventCoordinator::clearCache"/>

    <event on="onMediaSave" fire="\QUI\Cache\EventCoordinator::onMediaSave"/>
    <event on="onMediaReplace" fire="\QUI\Cache\EventCoordinator::onMediaReplace"/>
    <event on="onMediaCreateSizeCache" fire="\QUI\Cache\EventCoordinator::onMediaCreateSizeCache"/>
    <event on="onMediaCreateImageHtml" fire="\QUI\Cache\EventCoordinator::onMediaCreateImageHtml"/>

    <event on="onProjectConfigSave" fire="\QUI\Cache\EventCoordinator::clearCache"/>
    <event on="onPackageSetup" fire="\QUI\Cache\EventCoordinator::clearCache"/>
    <event on="onPackageInstall" fire="\QUI\Cache\EventCoordinator::clearCache"/>
    <event on="onPackageUninstall" fire="\QUI\Cache\EventCoordinator::clearCache"/>

    <event on="onQuiqqerTranslatorPublish" fire="\QUI\Cache\EventCoordinator::quiqqerTranslatorPublish"/>
    <event on="onQuiqqerMenuIndependentClear" fire="\QUI\Cache\EventCoordinator::onQuiqqerMenuIndependentClear"/>
</events>
