<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>
            <section name="settings">
                <conf name="cache">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>

                <conf name="login_cookie_is_enabled">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>

                <conf name="login_cookie_name">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>user-is-logged-in</defaultvalue>
                </conf>

                <conf name="htmlcache">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="jscache">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="lazyloading">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>

                <conf name="optimize_on_resize">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>

                <conf name="jpg_quality">
                    <type><![CDATA[integer]]></type>
                    <defaultvalue>80</defaultvalue>
                </conf>

                <conf name="webp">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="webp_quality">
                    <type><![CDATA[integer]]></type>
                    <defaultvalue>80</defaultvalue>
                </conf>
                <conf name="ignoreWebPCheck">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
            </section>

            <section name="css">
                <conf name="status">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="css_inline">
                    <type><![CDATA[string]]></type>
                    <defaultvalue></defaultvalue>
                </conf>
            </section>
        </config>

        <window name="quiqqer-cache" menu-parent="/settings/quiqqer/">
            <title>
                <locale group="quiqqer/cache" var="settings.title"/>
            </title>
            <params>
                <icon>fa fa-clone</icon>
            </params>

            <categories>
                <category name="cache_settings" priority="5">
                    <text>
                        <locale group="quiqqer/cache" var="settings.category.title"/>
                    </text>
                    <icon>fa fa-clone</icon>

                    <settings title="settings" name="settings">
                        <title>
                            <locale group="quiqqer/cache" var="settings.category.content.title"/>
                        </title>

                        <input conf="settings.cache" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.cache"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.cache.description"/>
                            </description>
                        </input>

                        <input conf="settings.htmlcache" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.htmlcache"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.htmlcache.description"/>
                            </description>
                        </input>

                        <input conf="settings.jscache" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.jscache"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.jscache.description"/>
                            </description>
                        </input>

                        <input conf="settings.login_cookie_is_enabled" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.login_cookie_is_enabled"/>
                            </text>
                        </input>

                        <input conf="settings.login_cookie_name" type="text">
                            <text>
                                <locale group="quiqqer/cache" var="settings.login_cookie_name"/>
                            </text>
                        </input>

                        <input type="hidden" data-qui="package/quiqqer/cache/bin/backend/settings/ClearCache"></input>
                    </settings>

                    <settings>
                        <title>
                            <locale group="quiqqer/cache" var="settings.category.css.title"/>
                        </title>

                        <input conf="css.status" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.csscache"/>
                            </text>
                        </input>

                        <select conf="css.css_inline" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.css_inline"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.css_inline.description"/>
                            </description>

                            <option value="">
                                <locale group="quiqqer/cache" var="settings.css_inline.nothing"/>
                            </option>
                            <option value="inline">
                                <locale group="quiqqer/cache" var="settings.css_inline.inline"/>
                            </option>
                            <option value="inline_as_file">
                                <locale group="quiqqer/cache" var="settings.css_inline.inline_as_file"/>
                            </option>
                        </select>
                    </settings>

                    <settings title="settings" name="settings">
                        <title>
                            <locale group="quiqqer/cache" var="settings.category.image.title"/>
                        </title>

                        <input conf="settings.jpg_quality"
                               type="number"
                               data-qui="qui/controls/input/Range"
                               data-qui-options-min="0"
                               data-qui-options-max="100"
                               data-qui-options-start="[0]"
                        >
                            <text>
                                <locale group="quiqqer/cache" var="settings.jpg_quality"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.jpg_quality.description"/>
                            </description>
                        </input>

                        <input conf="settings.webp" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.webp"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.webp.description"/>
                            </description>
                        </input>

                        <input conf="settings.webp_quality"
                               type="number"
                               data-qui="qui/controls/input/Range"
                               data-qui-options-min="0"
                               data-qui-options-max="100"
                               data-qui-options-start="[0]"
                        >
                            <text>
                                <locale group="quiqqer/cache" var="settings.webp_quality"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.webp_quality.description"/>
                            </description>
                        </input>

                        <input conf="settings.ignoreWebPCheck" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.ignoreWebPCheck"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.ignoreWebPCheck.description"/>
                            </description>
                        </input>

                        <input conf="settings.lazyloading" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.lazyloading"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.lazyloading.description"/>
                            </description>
                        </input>

                        <input conf="settings.optimize_on_resize" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.optimize_on_resize"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.optimize_on_resize.description"/>
                            </description>
                        </input>

                        <text>
                            <description>
                                <locale group="quiqqer/cache" var="message.console.description"/>
                            </description>
                        </text>
                    </settings>

                </category>

            </categories>
        </window>
    </settings>


    <!-- Project Settings -->
    <project>
        <settings>

            <config>
                <section name="website">
                    <conf name="nocache">
                        <type><![CDATA[bool]]></type>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="cache">
                        <text>
                            <locale group="quiqqer/cache" var="project.cache.setting"/>
                        </text>
                        <icon>fa fa-clone</icon>

                        <settings title="settings.cache" name="settings.cache">
                            <title>
                                <locale group="quiqqer/cache" var="settings.project.setting"/>
                            </title>
                            <input conf="website.nocache" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cache" var="project.nocache.setting.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cache" var="project.nocache.setting.description"/>
                                </description>
                            </input>
                        </settings>

                    </category>
                </categories>
            </window>

        </settings>
    </project>
</quiqqer>
