<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>
            <section name="settings">
                <conf name="cache">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>

                <conf name="htmlcache">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="csscache">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="jscache">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
            </section>
        </config>

        <window>
            <title>
                <locale group="quiqqer/cache" var="settings.title"/>
            </title>
            <params>
                <icon>fa fa-clone</icon>
            </params>

            <categories>
                <category name="cache_settings">
                    <text>
                        <locale group="quiqqer/cache" var="settings.category.title"/>
                    </text>
                    <icon>fa fa-clone</icon>

                    <settings title="settings" name="settings">
                        <title>
                            <locale group="quiqqer/cache" var="settings.category.content.title"/>
                        </title>

                        <input conf="settings.cache" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.cache"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.cache.description"/>
                            </description>
                        </input>

                        <input conf="settings.htmlcache" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.htmlcache"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.htmlcache.description"/>
                            </description>
                        </input>

                        <input conf="settings.csscache" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.csscache"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.csscache.description"/>
                            </description>
                        </input>

                        <input conf="settings.jscache" type="checkbox">
                            <text>
                                <locale group="quiqqer/cache" var="settings.jscache"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cache" var="settings.jscache.description"/>
                            </description>
                        </input>

                        <text>
                            <locale group="quiqqer/cache" var="message.console.description"/>
                        </text>
                    </settings>
                </category>

            </categories>
        </window>

    </settings>
</quiqqer>
